<mat-toolbar class="navbar mat-elevation-z8">
  <mat-toolbar-row>
    <span>Novid 19</span>
    <span class="space"></span>
    <div class="logoDiv">
      <span id="logoSpan"></span></div
  ></mat-toolbar-row>
</mat-toolbar>
<div class="conteuneur">
  <div class="sidemenu">
    <div class="menuDiv">
      <ul class="sidebar">
        <li onclick="clickActive(event)">
          <a [routerLink]="['/tdb']" queryParamsHandling="merge">
            <span id="tdb" class="link active"> </span>
          </a>
        </li>
        <li onclick="clickActive(event)">
          <a [routerLink]="['/person']" queryParamsHandling="merge">
            <span id="personneAdd" class="link"> </span>
          </a>
        </li>
        <li onclick="clickActive(event)">
          <a [routerLink]="['/test']" queryParamsHandling="merge">
            <span id="testAdd" class="link"> </span>
          </a>
        </li>
        <li onclick="clickActive(event)">
          <a [routerLink]="['/vaccine']" queryParamsHandling="merge">
            <span id="vaccinAdd" class="link"> </span>
          </a>
        </li>

        <li onclick="clickActive(event)">
          <a [routerLink]="['/place']" queryParamsHandling="merge">
            <span id="lieu" class="link"> </span>
          </a>
        </li>
        <li onclick="clickActive(event)">
          <a [routerLink]="['/doctor']" queryParamsHandling="merge">
            <span id="centre" class="link"> </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="conteuneur-principal">
    <div class="cont">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="sidecontent"></div> -->
</div>
