<div class="conteuneurFormulaire">
  <div class="title">
    <h1>Nouvelle lieu</h1>
    <div class="formButton" (click)="addLieu()">
      <button type="submit"><span id="addPerson"></span> Ajouter</button>
    </div>
  </div>
  <div class="formulaire">
    <!-- <mat-card> -->
    <div class="formGroupItem">
      <div class="formItem">
        <label for="nom">Nom lieu</label>
        <input
          type="text"
          id="nom"
          name="nom"
          [(ngModel)]="lieu.nom_lieu"
          [disabled]="lieu._id !== ''"
        />
      </div>
      <div class="formItem">
        <label for="adresse_lieu">Adresse lieu</label>
        <input
          type="text"
          id="adresse_lieu"
          name="adresse_lieu"
          [disabled]="lieu._id !== ''"
          [(ngModel)]="lieu.adresse_lieu"
        />
      </div>
    </div>
    <div class="formItem">
      <label for="coordonnees_lieu">Coordonnéeslieu</label>
      <input
        type="text"
        id="coordonnees_lieu"
        name="coordonnees_lieu"
        [disabled]="lieu._id !== ''"
        [(ngModel)]="lieu.coordonnees_lieu"
      />
    </div>
    <!-- </mat-card> -->
  </div>
</div>

<div class="map-container" #map></div>
<pre id="coordinates" class="coordinates"></pre>
