<div class="conteuneurFormulaire">
  <div class="title">
    <h1>Nouvelle personne</h1>
  </div>
  <div class="formulaire">
    <!-- <mat-card> -->
    <div class="formGroupItem">
      <div class="formItem">
        <label for="nom">Nom</label>
        <input
          type="text"
          id="nom"
          name="nom"
          [(ngModel)]="personne.nom"
          [disabled]="personne.id_personne !== -1"
        />
      </div>
      <div class="formItem">
        <label for="prenom">Prenom</label>
        <input
          type="text"
          id="prenom"
          name="prenom"
          [disabled]="personne.id_personne !== -1"
          [(ngModel)]="personne.prenom"
        />
      </div>
    </div>
    <div class="formItem">
      <label for="mail">Adresse mail</label>
      <input
        type="text"
        id="mail"
        name="mail"
        [(ngModel)]="personne.mail"
        [disabled]="personne.id_personne !== -1"
      />
    </div>
    <div class="formItem">
      <label for="adresse">Adresse</label>
      <input
        type="text"
        id="adresse"
        name="adresse"
        [(ngModel)]="personne.adresse"
        [disabled]="personne.id_personne !== -1"
      />
    </div>
    <!-- <div class="formGroupItem"> -->
    <div class="formItem">
      <label for="date_naissance">Date de naissance:</label>
      <input
        type="date"
        id="date_naissance"
        name="date_naissance"
        [(ngModel)]="personne.date_naissance"
        [ngModel]="personne.date_naissance | date: 'yyyy-MM-dd'"
        [disabled]="personne.id_personne !== -1"
      />
    </div>
    <div class="formItem">
      <label for="sexe">Sexe</label>
      <select
        name="sexe"
        id="sexe"
        [(ngModel)]="personne.sexe"
        [disabled]="personne.id_personne !== -1"
      >
        <option value="1">Homme</option>
        <option value="2">Femme</option>
      </select>
      <!-- <input
            type="text"
            id="sexe"
            name="sexe"
            [(ngModel)]="personne.sexe"
          /> -->
    </div>
    <!-- </div> -->
    <div class="formItem">
      <label for="cin">CIN</label>
      <input
        type="text"
        id="cin"
        name="cin"
        placeholder="___ ___ ___ ___"
        data-slots="_"
        data-accept="\d"
        size="12"
        [(ngModel)]="personne.cin"
        [disabled]="personne.id_personne !== -1"
      />
    </div>

    <div class="formButton" (click)="addPerson()">
      <!-- <input type="submit" value="" /> -->
      <button type="submit"><span id="addPerson"></span> Ajouter</button>
    </div>
    <!-- </mat-card> -->
  </div>
</div>
