<!-- <div *ngFor="let item of centres">
  {{ item.nom_centre }}
</div> -->
<div class="contain">
  <div class="title">
    <h1>Liste des centres</h1>
    <span>{{ centres.length }} centre</span>
  </div>
  <div class="container">
    <div class="detailLieuPart" *ngFor="let item of centres">
      <div class="actionPart">
        <button (click)="update(item._id)">
          <img
            src="assets/img/icon/create-outline.svg"
            alt=""
            class="icoAction"
          />
        </button>
      </div>
      <div class="titre">
        {{ item.nom_centre }}
      </div>
      <div class="adresse">
        {{ item.adresse_centre }}
      </div>
      <div class="detailsPart">
        <img
          src="assets/img/icon/navigate-outline.svg"
          alt=""
          class="icoDetails"
        />
        <span> {{ item.coordonnees_centre }} </span>
      </div>
      <hr />
      <!-- <div class="titre">QR Code</div>
  <div class="qrcode">
    <ngx-qrcode
      value="{{ lieux!._id }}"
      cssClass="qrcodeshadow"
      [width]="500"
      [margin]="0"
    ></ngx-qrcode> -->
      <!-- </div> -->
    </div>
  </div>
</div>
